@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-image: url('/static/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%; 
  height: auto; 
}
.icon {
  width: 100px;
  height: auto
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: bottom;
  width: 320px;
  margin-bottom: auto;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 4px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.conversation-box {
  width: 1080px;
  height: 600px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.line {
  display: block;
  clear: both;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
}

.right {
  float: right;
  background-color: #10a37f;
  color: white;
  max-width: 80%;
}

.left {
  float: left;
  background-color: #F0F0F0;
  color: black;
  /* font-weight: bold; */
  max-width: 80%;
}

.speaker {
  font-weight: bold;
}

.result-box {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.chat-bubble-header {
  display: inline-block;
  padding: 12px 24px;
  background-color: white;
  color: #10a37f;
  font-weight: bold;
  border-radius: 25px;
  margin-bottom: 20px;
}